torch==2.10.0
numpy==2.1.1
scikit-learn==1.6.0
jieba==0.42.1
scipy==1.14.1
matplotlib==3.10.0
sentence-transformers==5.2.2
faiss-cpu==1.13.2
pymilvus==2.6.8
tqdm==4.67.1
transformers==4.57.6
wordcloud==1.9.4
